In [43]:
# Import all of the relevant dependencies to evaluate weather data and generate 
# graph outputs

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np 
import scipy.stats as sts
import gmaps
import pprint as pp

import json
import requests
from config import apikey as g_key

In [2]:
#Importing data from WeatherPy

weather_filepath = "../WeatherPy/output_data/cities.csv"
weather_df = pd.read_csv(weather_filepath)
weather_df

,City,Latitude,Longitude,Maxium Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hemisphere
0,Bredasdorp,-34.5322,20.0403,57.20,88,100,3.44,ZA,1619371781,Southern Hemisphere
1,East London,-33.0153,27.9116,68.00,83,0,9.22,ZA,1619371782,Southern Hemisphere
2,Tuktoyaktuk,69.4541,-133.0374,10.40,85,90,10.36,CA,1619371782,Northern Hemisphere
3,Punta Arenas,-53.1500,-70.9167,59.00,47,75,23.02,CL,1619371495,Southern Hemisphere
4,Avarua,-21.2078,-159.7750,78.80,83,75,10.36,CK,1619371695,Southern Hemisphere
...,...,...,...,...,...,...,...,...,...,...
595,Urusha,54.0500,122.9000,36.57,73,100,0.92,RU,1619371971,Northern Hemisphere
596,Le Port,-20.9373,55.2919,75.20,88,90,18.41,RE,1619371732,Southern Hemisphere
597,Soria,41.6667,-2.6667,50.00,90,100,1.01,ES,1619371972,Northern Hemisphere
598,Kamakwie,9.5000,-12.2333,99.99,22,52,4.56,SL,1619371931,Northern Hemisphere
599,Saint-François,46.4154,3.9054,68.00,40,0,9.22,FR,1619371972,Northern Hemisphere

In [3]:
#Configure gmaps 

gmaps.configure(api_key=g_key)

locations = weather_df[["Latitude", "Longitude"]].astype(float)


fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=weather_df["Humidity (%)"], 
                              dissipating=False, 
                              max_intensity=weather_df["Humidity (%)"].max().astype(float), 
                              point_radius = 2)
    
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#Setting up the metrics for an ideal vacation spot

vacation_df = pd.DataFrame(weather_df.loc[(weather_df["Maxium Temperature (F)"] < 80) & (weather_df["Maxium Temperature (F)"] >= 70)
                                         & (weather_df["Wind Speed (mph)"] < 10) & (weather_df["Cloudiness (%)"] == 0)])

vacation_df = vacation_df.reset_index(drop=True)
vacation_df

,City,Latitude,Longitude,Maxium Temperature (F),Humidity (%),Cloudiness (%),Wind Speed (mph),Country,Date,Hemisphere
0,Khandela,27.6000,75.5000,77.52,8,0,2.84,IN,1619371814,Northern Hemisphere
1,Laas,46.6166,10.7002,73.40,35,0,6.91,IT,1619371838,Northern Hemisphere
2,İmamoğlu,37.2651,35.6572,71.60,60,0,4.61,TR,1619371851,Northern Hemisphere
3,San Juan,-31.5375,-68.5364,73.08,33,0,3.02,AR,1619371854,Southern Hemisphere
4,Quelimane,-17.8786,36.8883,78.80,83,0,8.05,MZ,1619371909,Southern Hemisphere
5,Karratha,-20.7377,116.8463,77.81,60,0,5.03,AU,1619371943,Southern Hemisphere
6,Beitbridge,-22.2167,30.0000,77.11,18,0,7.70,ZW,1619371947,Southern Hemisphere

In [158]:
#Identifying hotel locations within 5000 meters of the location specified above

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
hotel_dict = {"Hotel Name": [], "Rating": [],
              "Address": [],"Latitude": [], "Longitude": [], 
             "City":[], "Country":[]}
hotel_df = pd.DataFrame(hotel_dict)


# use iterrows to iterate through pandas dataframe
for index, row in vacation_df.iterrows():

    params = {
    
    "location": f"{vacation_df.iloc[index, 1]}, {vacation_df.iloc[index, 2]}",  
    "radius": "5000",
    "type": "lodging",
    "key": g_key,
        
}

    print(f"Location is: {params['location']}")


    # assemble url and make API request
    print(f"Retrieving hotel results for {vacation_df.iloc[index, 0]}: ")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel is {results[0]['name']}.")
        
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        hotel_df.loc[index, 'Rating'] = results[0]['rating']
        hotel_df.loc[index, 'Latitude'] = results[0]['geometry']['location']['lat']
        hotel_df.loc[index, 'Longitude'] = results[0]['geometry']['location']['lng']
        
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Location is: 27.6, 75.5
Retrieving hotel results for Khandela:
Closest hotel is Castle Khandela.
------------
Location is: 46.6166, 10.7002
Retrieving hotel results for Laas:
Closest hotel is Pension Feldgärtenhof.
------------
Location is: 37.2651, 35.6572
Retrieving hotel results for İmamoğlu:
Closest hotel is İSAK TATAR.
------------
Location is: -31.5375, -68.5364
Retrieving hotel results for San Juan:
Closest hotel is Hotel Provincial.
------------
Location is: -17.8786, 36.8883
Retrieving hotel results for Quelimane:
Closest hotel is Hotel Flamingo.
------------
Location is: -20.7377, 116.8463
Retrieving hotel results for Karratha:
Closest hotel is ibis Styles Karratha.
------------
Location is: -22.2167, 30.0
Retrieving hotel results for Beitbridge:
Closest hotel is Beitbridge Express Hotel.
------------

In [159]:
# use iterrows to iterate through pandas dataframe

base_url = "https://maps.googleapis.com/maps/api/geocode/json?"
    
for index, row in hotel_df.iterrows():

    params = {
    
    "latlng": f"{vacation_df.iloc[index, 1]},{vacation_df.iloc[index, 2]}", 
    "key": g_key,
        
}

    print(f"Location is: {params['latlng']}")


    # assemble url and make API request
    print(f"Retrieving locality and country for {hotel_df.iloc[index, 0]}: ")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        
         hotel_df.loc[index, 'Address'] = results[0]['formatted_address']
        
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Location is: 27.6,75.5
Retrieving locality and country for Castle Khandela:
Location is: 46.6166,10.7002
Retrieving locality and country for Pension Feldgärtenhof:
Location is: 37.2651,35.6572
Retrieving locality and country for İSAK TATAR:
Location is: -31.5375,-68.5364
Retrieving locality and country for Hotel Provincial:
Location is: -17.8786,36.8883
Retrieving locality and country for Hotel Flamingo:
Location is: -20.7377,116.8463
Retrieving locality and country for ibis Styles Karratha:
Location is: -22.2167,30.0
Retrieving locality and country for Beitbridge Express Hotel:

In [181]:
# Create a map using state centroid coordinates to set markers
marker_locations = hotel_df[['Latitude', 'Longitude']]

for index, row in hotel_df.iterrows():

    teststr = hotel_df.iloc[index,2]
    split_teststr = teststr.split(",")
    length = len(split_teststr)

    hotel_df.loc[index, 'City'] = split_teststr[length-2]
    hotel_df.loc[index, 'Country'] = split_teststr[length-1]

hotel_df

,Hotel Name,Rating,Address,Latitude,Longitude,City,Country
0,Castle Khandela,4.2,"Unnamed Road, Khandela, Rajasthan 332709, India",27.604948,75.500981,Rajasthan 332709,India
1,Pension Feldgärtenhof,4.6,"Vinschgaustrasse, 26, 39023 Laas, Südtirol, Italy",46.628854,10.750799,Südtirol,Italy
2,İSAK TATAR,5.0,"Cumhuriyet, 50. Sk. No:20, 01700 İmamoğlu/Adan...",37.265067,35.654168,01700 İmamoğlu/Adana,Turkey
3,Hotel Provincial,4.0,"B. Rivadavia Oeste 700, J5402DFP San Juan, Arg...",-31.537125,-68.523943,J5402DFP San Juan,Argentina
4,Hotel Flamingo,3.6,"Ave Herois de Liberdade, Quelimane, Mozambique",-17.880454,36.887034,Quelimane,Mozambique
5,ibis Styles Karratha,3.4,"19 Welcome Rd, Karratha WA 6714, Australia",-20.732225,116.846744,Karratha WA 6714,Australia
6,Beitbridge Express Hotel,3.5,"3854 Dulibadzimu T/Ship, Beitbridge, Zimbabwe",-22.187002,29.997540,Beitbridge,Zimbabwe

In [185]:

info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))